*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: 	#282a36;
}

h1{
    font-family: "archivo-black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::placeholder{
    color: #6272a4;
    text-align: center;
}

input:focus{
    outline: none;
}
/* Header */

header{
    border-bottom: 1px solid #44475a;
    padding: 1rem 2rem;
    background-color: #16181f;
    color: #f8f8f2;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

header h1{
    cursor: default;
}

.mobile-screen{
    display: none;
}

#search-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#search-input{
    padding: 8px 1rem;
    border: none;
    background-color: #282a36;
    border-radius: 4px;
    width: 400px;
    color: #6272a4;
}

#search-input::placeholder{
    font-size: 14px;
}

#exports-notes{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: 	#bd93f9;
    color: #f8f8f2;
    text-shadow: #282a36 0px 0px 1px;
    transition: 0.4s;
    cursor: pointer;
}

#exports-notes:hover{
    background-color: #b089e7;
}

/* notes container */

#add-note-container{
    display: flex;
    width: 400px;
    margin: 4rem auto 0;
    gap: 0.5rem;
}

#add-note-container input,
#add-note-container button{
    padding: 8px;
    border: none;
}

#add-note-container input{
    flex: 1;
    border-bottom: 2px solid #44475a;
    background-color: transparent;
    color: #6272a4;
}

#add-note-container button{
    border-radius: 4px;
    width: 2.3rem;
    background-color: #bd93f9;
    color: #f8f8f2;
    transition: 0.4s;
    cursor: pointer;
}

#add-note-container button:hover{
    background-color: #b089e7;
}

/* Notes */

#notes-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    padding: 2rem 9rem;
    padding-top: 6rem;
    gap: 2rem;
}

.note{
    min-height: 200px;
    padding: 1rem;
    background-color: #f1fa8c;
    border-radius: 5px;
    border: 2px solid #44475A;
    box-shadow: 10px 10px 2px #16181f;
    color: #000;
    position: relative;
}

.note textarea{
    background-color: transparent;
    border: none;
    resize: none;
    height: 94%;
    width: 100%;
    outline: none;
}

.note:hover > i{
    opacity: 1;
}

.note .bi-pin-fill{
    position: absolute;
    bottom: 1px;
    left: 13px;
    font-size: 1.2rem;
    color: #44475a;
    border-radius: 4px;
    padding-top: 1px;
    cursor: pointer;
}

.note 
.bi-file-earmark-plus{
    position: absolute;
    right: 13px;
    bottom: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #44475A;
    transition: 0.3s;
    opacity: 0;
}
.note 
.bi-x-lg{
    position: absolute;
    right: 35px;
    bottom: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #44475A;
    transition: 0.3s;
    opacity: 0;
}

.note .bi-file-earmark-plus:hover,
.note .bi-x-lg:hover{
    color: #6272a4;
}

.fixed .bi-pin-fill{
    color: #b089e7;
}

@media (max-width: 450px){
    header {
        padding: 2rem 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }

    header h1{
        font-size: 20px;
            
    }
    header .bi-search{
        background-color: #b089e7;
        border-radius: 4px;
        padding: 6px 8px;
    }

    .mobile-ocult{
        display: none;
    }

    .mobile-screen{
        display: contents;
    }

    #search-input {
        width: 150px;
    }
    
    #exports-notes {
        display: none;
    }

}